<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer-column">
                <div class="title">Продукты</div>
                <ul class="footer-links">
                    <li class="footer-links__item">
                        <a href="{% url 'main:tariffs' %}">Тарифы</a>
                    </li>
                </ul>
            </div>
            <div class="footer-column">
                <div class="title">Контакты</div>
                <ul class="footer-links">
                    <li class="footer-links__item">
                        <a href="{% url 'main:contacts' %}">Обратная связь</a>
                    </li>
                </ul>
            </div>
            <div class="footer-column-phone">
                <div class="title">Служба поддержки</div>
                <div class="phone">8 800 707 12 12</div>
            </div>
            <div class="footer-column-phone">
                <div class="title">Отдел продаж</div>
                <div class="phone">8 800 707 12 12</div>
            </div>
        </div>
    </div>
</footer>