{% load static %}

<header class="header">
    <div class="container">
        <div class="header__inner">

            <div class="logo-container">
                <a href="{% url 'main:home' %}"><img src="{% static 'images/logo.png' %}" alt="" class="logo"></a>
            </div>
            <div class="header__burger">
                <span></span>
            </div>
            <nav class="nav">
                <ul class="">
                </ul>
                <ul class="nav-menu">
                    <li class="nav-menu__item"><a href="{% url 'main:home' %}" class="nav-menu__link">Главная</a></li>
                    <li class="nav-menu__item"><a href="{% url 'main:tariffs' %}" class="nav-menu__link">Тарифы</a></li>
                    <li class="nav-menu__item"><a href="{% url 'main:contacts' %}" class="nav-menu__link">Контакты</a></li>
                </ul>
                <ul class="nav-menu">
                    {% if user.is_authenticated %}
                            <li class="nav-menu__item user-link"><a
                                href="{% url 'main:profile' %}"><img src="{% static 'images/userlogo.png' %}" alt="">{{ user.username }}</a>
                        </li>
                        <li class="nav-menu__item"><a href="{% url 'main:logout' %}">Выход</a></li>
                    {% else %}
                        <li class="nav-menu__item"><a href="{% url 'main:auth' %}"
                                                      class="nav-menu__link">Авторизация</a></li>
                        <li class="nav-menu__item"><a href="{% url 'main:register' %}" class="nav-menu__link">Регистрация</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>